<div class="layout">

  <div class="sidebar">
    <ul class="menu">
      <li class="nav-item">
        <a class="nav-link" routerLink="/principal">Principal</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/inventario">Inventario</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/mantenimientos">Mantenimientos</a>
      </li>
    </ul>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>