<div class="layout">
  <aside class="sidebar" aria-label="Menú del dashboard">
    <ul class="menu">
      <li class="nav-item">
        <a class="nav-link" routerLink="principal" routerLinkActive="nav-link--active">Principal</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="inventario" routerLinkActive="nav-link--active"
          >Inventario</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="mantenimientos" routerLinkActive="nav-link--active"
          >Mantenimientos</a
        >
      </li>
    </ul>
  </aside>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
