<div>
  <div class="header">
    <div class="header__logo">
      <img class="header__logo-img" src="logo.jpg" alt="Logo">
    </div>

    <div class="header__title">
      <h1 class="header__title-text">Clima Amigo</h1>
    
    </div>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item"><a class="header__nav-link" href="#">Home</a></li>
        <li class="header__nav-item"><a class="header__nav-link" href="#">About</a></li>
        <li class="header__nav-item"><a class="header__nav-link" href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>